body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    margin: 20px;
}
